body {
    margin: 0;
    height: 100vh;
}

.strip {
	width: fit-content;
	height: fit-content;
	box-sizing: border-box;
    padding: 1em;
    margin: 10px auto 0px;
	border: 2px solid black;
	display: flex;
	flex-direction: row;
}

.node {
	border: none;
	margin-right: 100px;
	width: 50px;
    height: 50px;
    padding: 0;
    background-color: transparent;
}

.node:last-child {
	margin-right: 0;
}
